.container{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
.container .box{
	position: relative;
	height: 130px;
	background: #46C782;
	transition: .5s;
    overflow: hidden;
}
.container .box:hover{
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
 }
 .container .box:nth-child(3){
	background: #0180C8;
}
.container .box:nth-child(2){
	background: #fe8f01;
}
.container .box:nth-child(1){
	background: #79d400;
}
@media (max-width: 1000px){
	.container{
		width: 100%;
		height: auto;
		padding: 20px;
	}
	.container .box{
        width: 100%;
	}
}